
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.land{
    background-image: url("moon2.jpg");
    background-size: 30%;
    background-position: center;
    background-color: white;
background-color: darkblue;
/* background-size; */
background-repeat: repeat;
    height: 100vh;
    
    h1{padding-top: 60px;
        text-align: center;
        color: rgb(0, 255, 153);
    }
    p{text-align: center;
        color: rgb(255, 0, 0);
    }
    
}
